body{
    justify-content: center;
}

button{
    margin-left: 45%;
}

div{
    width: 50%;
    height: 200px;
    margin-left: 25%;
    border: 2px solid black;
    text-align: center;
}

h1{
    text-align: center;
}

